.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  margin-top: auto;
  padding: 0 32px;
  background-color: #333333;
}

.link {
  font-family: var(--roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
