.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.title {
  font-family: var(--roboto);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #1b1f23;
}

.paragraph {
  font-family: var(--roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b1f23;
}
