.container {
  padding: 12px 12px 10px 12px;
  border-radius: 8px;
  list-style: none;
  cursor: default;
}

.container:hover {
  background-color: #eeeeee;
}

.text {
  font-family: var(--sf-pro-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1b1f23;
}
